NODE_ENV=production
PORT=5000
JWT_SECRET=zmien_na_dlugi_losowy_ciag

DB_HOST=127.0.0.1
DB_NAME=graf
DB_USER=root
DB_PASSWORD=

ALLOWED_ORIGINS=http://jagrafiko.pl,https://jagrafiko.pl,http://www.jagrafiko.pl,https://www.jagrafiko.pl
