.main-cities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #769194;
    padding: 20px;
    border-radius: 10px;
}

.main-cities .toolbar {
  gap: 10px;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.main-cities .city-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.main-cities .city-list button {
  padding: 12px 20px;
  font-size: 1rem;
  width: 100%;
  text-align: left;
}